/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace renderers  "renderers.*";



s|ViewNavigatorApplication {
	fontFamily: droid-sans;
	skinClass: ClassReference("skins.actionscript.App");
}

s|View{
	backgroundAlpha: 0;
}

s|ActionBar { 
	fontFamily: droid-sans;
	color: #FFFFFF;
	skinClass: ClassReference("skins.actionscript.ActionBar");
	chromeColor: #0ca4d6;
}

s|ActionBar #titleDisplay{
	font-family: "droid-sans-bold-cff";
	fontWeight: bold;
	fontSize: 25px;
	left: 0;
	right: 0;
	dropShadowVisible: false;
	dropShadowEnabled:false;
	shadowAlpha: .9;
	shadowColor: "0x000000";
	shadowAngle: 120;
	shadowDistance: 1;
}

renderers|BedrijfRenderer
{
	padding-top: 15;
	padding-left: 10;
	padding-right: 10;
	padding-bottom: 15;
	horizontal-gap: 10;
	vertical-gap: 10;
	
	naam-style: naamRendererStyle;
	duur-style: duurRendererStyle;
	goedkoop-style: goedkoopRendererStyle;
	separator: Embed(source='/styles/images/separator.png' );
	
	background: Embed(source='/styles/images/background_up.png', 
		scaleGridLeft=10, scaleGridTop=20, scaleGridRight=11, scaleGridBottom=21 );
}

renderers|BedrijfRenderer:selected
{
	background: Embed(source='/styles/images/background_down.png',
		scaleGridLeft=50, scaleGridTop=20, scaleGridRight=51, scaleGridBottom=21 );
}
.naamRendererStyle
{
	font-size: 30;
	color: #ffffff;
	font-family: _sans;
	font-weight: normal;
}
.duurRendererStyle
{
	font-size: 16;
	color: #16AEE0;
	font-family: _sans;
}
.goedkoopRendererStyle
{
	font-size: 20;
	color: #00CD51;
	font-family: _sans;
}

.searchbar-text{
	text-align: left; 
	font-size: 18px;
	lineHeight: 10px;
	focusAlpha:0;
	font-family: "Droid Sans";
}

.state{
	font-family: "Droid Sans";
	text-align: center;
	color: #7B878B;
	font-size: 14px;
}

.state .total{
	color: #7B878B;	
}

.title{
	font-family: "Droid Sans";
	fontWeight: bold;
	fontSize: 25px;
	left: 0;
	right: 0;
}

.homeTitle, .infoTitle, .searchTitle{
	color: #ffffff;
	font-size: 38px;
	font-family: "Droid Sans";
	font-weight: bold;
}

.infoTitle{
	color: #47BFE5;	
	font-weight: normal;
	text-align: center;
}

.searchTitle{
	color: #535F63;	
	font-weight: normal;
	text-align: center;
	font-size: 30px;
}


#homeButton, #infoButton, #searchButton{
	skinClass: ClassReference("skins.actionscript.InfoButton");
	font-size: 22px;
	font-weight: normal;
	font-family: "Droid Sans";
	color: #ffffff;
}

.homeLabel, .infoLabel, .searchLabel{
	font-size: 24px;
	font-weight: normal;
	font-family: "Droid Sans";
	color: #7A878C;
	text-align: center;
}

.infoLabel{
	font-size: 17px;
	text-align: justify;
	paddingRight: 40px;
	paddingLeft: 40px;
}

.searchLabel{
	font-size: 18px;
	color: #535F63;
}